/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.header {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: space-evenly;
     -ms-flex-pack: space-evenly;
         justify-content: space-evenly;
}

.buttons {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: space-evenly;
     -ms-flex-pack: space-evenly;
         justify-content: space-evenly;
}

.buttons input {
 width: 200px;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
 -webkit-transition: -webkit-transform .3s;
 transition: -webkit-transform .3s;
 -o-transition: transform .3s;
 transition: transform .3s;
 transition: transform .3s, -webkit-transform .3s;
}

.buttons input:hover {
 border: black 5px solid;
 -webkit-transform: scale(1.1);
     -ms-transform: scale(1.1);
         transform: scale(1.1);
}

.result h2 {
 text-align: center;
 font-size: 45px;
}

.result p {
 text-align: center;
 font-size: 25px;
}

#result {
 font-weight: bold;
}

.message {
 font-weight: bold;
 border-top: black 3px solid;
 padding-top: 15px;
}

#img {
 max-width: 100px;
}

.compImage {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 border-bottom: solid black 3px;
 padding-bottom: 20px;
}

.reset {
 text-align: center;
}

#reset {
 font-size: 35px;
 background-color: red;
 -webkit-transition: -webkit-transform .3s;
 transition: -webkit-transform .3s;
 -o-transition: transform .3s;
 transition: transform .3s;
 transition: transform .3s, -webkit-transform .3s;
}

#reset:hover {
 -webkit-transform: scale(1.1);
     -ms-transform: scale(1.1);
         transform: scale(1.1);
}