/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
    margin: 0;
}

.header {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: space-evenly;
     -ms-flex-pack: space-evenly;
         justify-content: space-evenly;
}

.buttons {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: space-evenly;
     -ms-flex-pack: space-evenly;
         justify-content: space-evenly;
}

.buttons input {
 width: 14%;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
 -webkit-transition: -webkit-transform .3s;
 transition: -webkit-transform .3s;
 -o-transition: transform .3s;
 transition: transform .3s;
 transition: transform .3s, -webkit-transform .3s;
}

.buttons input:hover {
 -webkit-transform: scale(1.1);
     -ms-transform: scale(1.1);
         transform: scale(1.1);
}

.player-label {
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
}

.choice-image {
    display: flex;
    justify-content: space-evenly;
}

#pImage {
 width: 7%;
 height: auto;
}

#cImage {
    width: 7%;
    height: auto;
   }

.choice-container {
    display: flex;
    justify-content: space-evenly;
}

.score-container {
    display: flex;
    justify-content: space-evenly;
}

.result h2 {
 text-align: center;
 font-size: 45px;
}

.result p {
 text-align: center;
 font-size: 25px;
}

.result-container {
    display: flex;
    justify-content: center;
}

#result {
 font-weight: bold;
 padding: 1%;
}

.result-border {
    border: 2px black solid;
    border-radius: 10px;
    width: 20%;
}

.message {
 font-weight: bold;
 border-top: black 3px solid;
 padding-top: 15px;
}

#img {
 max-width: 100px;
}

.compImage {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 border-bottom: solid black 3px;
 padding-bottom: 20px;
}

.reset {
 text-align: center;
 padding-bottom: 5%;
 padding-top: 5%;
}

#reset {
 font-size: 35px;
 background-color: red;
 -webkit-transition: -webkit-transform .3s;
 transition: -webkit-transform .3s;
 -o-transition: transform .3s;
 transition: transform .3s;
 transition: transform .3s, -webkit-transform .3s;
 border: 1px black solid;
 border-radius: 15px;
}

#reset:hover {
 -webkit-transform: scale(1.1);
     -ms-transform: scale(1.1);
         transform: scale(1.1);
}

.green {
    color: green;
}

.red {
    color: red;
}